@use "@/styles/colors.scss";
@use "@/styles/sizes.scss";

.versesGrid {
    background-color: colors.$verse-block;
    border-radius: sizes.$default-radius;
    padding: 1em 2em;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em 1em;

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}